In [25]:
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
        ###
        )

cur = conn.cursor()

cur.execute("""
SELECT * FROM scrapy_crawl_results
""")

data = cur.fetchall()

In [26]:
columns = ['scrape_date', 'business_name', 'owners', 'owner_name', 'commercial_registered_agent', 'registered_agent']
df = pd.DataFrame(data, columns=columns)
df

,scrape_date,business_name,owners,owner_name,commercial_registered_agent,registered_agent
0,2023-01-21,XEROX CORPORATION,NULL,NULL,"THE PRENTICE-HALL CORPORATION SYSTEM, INC.",NULL
1,2023-01-21,XeCare LLC,NULL,NULL,"CAPITOL CORPORATE SERVICES, INC.",NULL
2,2023-01-21,Xebec Systems USA LLC,NULL,NULL,"INCORP SERVICES, INC.",NULL
3,2023-01-21,Xe USA,NULL,"CONTINENTAL EXCHANGE SOLUTIONS, INC.",NULL,NULL
4,2023-01-21,XDP Digital LLC,NULL,NULL,NULL,KIMBERLY BRAUN
...,...,...,...,...,...,...
174,2023-01-21,X Golf Minot,NULL,"Elite Golf, LLC",NULL,NULL
175,2023-01-21,"X S BROKERS INSURANCE AGENCY, INC.",NULL,NULL,"REGISTERED AGENT SOLUTIONS, INC.",NULL
176,2023-01-21,XactlyOne Foundation,NULL,NULL,"NORTHWEST REGISTERED AGENT SERVICE, INC.",NULL
177,2023-01-21,XCEL ENERGY INC.,NULL,NULL,CORPORATION SERVICE COMPANY,NULL
178,2023-01-21,X Golf Bismarck,NULL,"Elite Golf 2, LLC",NULL,NULL